.counter-component{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
}
.button-container{
    display: flex;
    width: 50%;
    height: 10vh;
    background-color: red;
}
.count-container{
    display: flex;
    width: 50%;
    height: 10vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
}